main {
  display: flex;
}

.layout {
  height: 100vh;
  max-height: 100vh;
}

.header-container {
  margin: 0 auto;
  width: 1092px;
}

.site-layout-content {
  min-height: 100%;
  padding: 24px;
  margin: 0 auto;
  max-width: 1092px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.issues-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ant-card .ant-card-head {
  min-height: 40px;
  padding: 0 16px;
}

.ant-card .ant-card-body {
  padding: 8px 16px;
}

.ant-card p {
  margin: 0;
}

.bread-crumbs-container{
  display: flex;
  align-items: center;
  gap: 10px;  
  margin-bottom: 16px;
}